.homebackgroundvid{
    display: none;
}
body{
    background-color: #363636;
}
.full-background{
    background: #363636;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
   align-items: center;
    justify-content:space-between;
}

h1{
    background-color:#dc2f2f ;
    font-size: 150px;
   color: #f8f8f8;
    /* color: #ff894c;*/
    text-align: center;
    border-radius: 20px; 
    width: 100%; 
    height: auto;  
}
.top-bar{
    position: fixed;
    top:0;
    left:0;
    display:flex;
    align-items: center;
    justify-content:center;
    width:100% ;
    height: 5vh;
    border-radius: 10px;
    padding: 10px;
    background:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)) ;
    text-decoration: none;
   

}
.top-icons{
    background:linear-gradient(rgba(0, 0, 0, 0.4),rgba(6, 8, 0, 0.4)) ;
    height:auto;
    width: 20px;
    border-radius: 10px;
    padding: 10px;
    color: #685757;
   
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li
{
  display: inline-block;
 margin-right: 10px;
  list-style: none;

}
nav ul li a{
    text-decoration:none ;
   

}
.exp{
    display: none;
}
h2{
    /*background-color:#ff894c;*/
    font-size: 100px;
   color: rgb(255, 137, 76);
    /* color: #ff894c;*/
    text-align: center;
    border-radius: 20px;
}
.para{
    background:linear-gradient(#dc2f2f,#ff894c) ;
    font-size: 70px;
    padding: 10px;
    line-height: 95px;
    padding-right: 51px;
   color: #f8f8f8;
    /* color: #ff894c;*/
    text-align: justify;
    border-radius: 40px;
}
.box1{
   
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom:10px ;
    text-align: center;
    border-radius: 40px;
    background-color: #ff894c;
     
}
.img1{
   /* float: left;*/
    width: 95%;
    margin: 10px;
    border-radius: 20px;    
}


.bottom{
    background:linear-gradient(#ff894c, #dc2f2f);
    width: 100%;
    margin-top: 10px;
    height: 400px;
    text-align: center;
    border-radius: 50px;
}
.ig{
    width: 400px;
    height: 110px;
    font-size: 40px;
}
#thanks{
    font-size: 50px;
}




@media only screen and (min-width: 1000px) {

   .homebackgroundvid{

        display: block;
        position:fixed;
        right: 0;
        top: 0;
        z-index: -1;
    }
    @media (min-aspect-ratio:16/9){
        .homebackgroundvid{
            width: 100%;
            height: auto;
        }
    }
    @media (max-aspect-ratio:16/9){
        .homebackgroundvid{
            width:auto;
            height: 100%;
        }
    }
     /*body{
        background-image: url("frozen in time.mp4");
    }*/
    h1{
     width: 60%;
     height: 25%;
    
     
     position: absolute;
     
    }
   /* .exp{
        display:block;
        background-color: rgb(97, 111, 44,.4);
        float: none;
        width: 20%;
        height: auto;
        position:absolute;
        border-radius: 40px;
        

    }*/
    .exp {
        display: block;
        background-color: rgba(11, 11, 11, 0.4);
        width: 20%;
        height: 8%;
        position:fixed;
        float:auto;
        bottom: 32%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 40px;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        justify-content: center;
        color: #685757;
        font-size: 80px;
        
    }
    h2,.para,.box1,.img1,.bottom,.ig,#thanks{
     display: none;
    }
  
    

    
}
